
  .btn {
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    font-size: 25px;
  }

  .cal{
    text-align: center;
  font-size: 20px;
  
  }